doctype html
include utils.pug
html(style = "background-color:"+profile.color+";")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style = "border-color:"+profile.color+"; background-color:"+bc(profile.color)+";")
    block content
