*
  //outline: 1px rgba(255,0,0,1) solid

html, body
  min-height: 100vh

body
  background-clip: content-box
  box-sizing: border-box
  margin: 0
  padding: 1pc
  border-width: 1pc
  font-family: sans-serif
  font-size: 1pc



.title
  font-family: serif
  display: flex
  text-align: center
  font-size: larger
  //color: darken(white, 3%)
  
.line
  width: 40%
  //background-color: darken(white, 3%)
  border: none
  height: 1px

.rotonde
  min-height: 100%
  //outline: 1pc solid
  //color: darken(white, 80%)
  //background-color: darken(white, 3%)
  
.profile
  display: flex
  flex-wrap: wrap
  padding: 10px
  
.avatar
  width: 6pc
  height: 6pc
  border-radius: 0.4pc
  margin-right: 1pc
  
.feedavatar
  float: left
  width: 2pc
  height: 2pc
  border-radius: 0.2pc
  margin: 1pc

.feed-container
  width: 99%
  padding: 0.4pc
  display: flex
  flex-wrap: wrap

.bio
  line-height: 1.2em

.postfooter
  clear: both

.right
  float: right
  
.left
  float: left

.link
  //font-family: monospace
  text-decoration: none
  
.minilink
  font-size: 0.75pc
  text-decoration: none
  
.aandt
  //display: flex
  //flex: none
  //flex-wrap: nowrap

.col
  padding: 0.4pc
  min-width: 30pc
  max-width: 50pc
  flex: 1
  margin-left: auto
  margin-right: auto
  
.media
  display: block
  min-height: 0
  width: 100%
  
.post
  border-radius: 0.5pc
  margin: 0.5pc 0
  //background-color: darken(white, 80%)
  border: 0.1pc
  border-style: solid
  //color: darken(white, 3%)
  overflow: hidden

.postcontent>.text
  margin: 1pc 0

.date
  margin-top: 0
  margin-left: 1pc
  margin-right: 1pc
  color: grey
  font-size: 0.75pc

.text
  vertical-align: top
  font-weight: lighter

.feedtext
  padding: 0 1pc


.post>p
  margin: 1pc